<div class="container-fluid row">
	<h1>ADMIN</h1>
	<div class="col-md-6">
		<h2>Information</h2>
		<textarea ng-model="information" cols="80" rows="20" ng-trim="true"></textarea>
		<p><button ng-click="publishInformation()">Sende Informationen</button></p>
	</div>
	<div class="col-md-6">
		<h2>Raumbelegung</h2>
		<p>Schulung 1:</p>
		<textarea ng-model="room1" cols="80" rows="3" ng-trim="true"></textarea>
		<p>Schulung 2:</p>
		<textarea ng-model="room2" cols="80" rows="3" ng-trim="true"></textarea>
		<p><button ng-click="publishRoomSchedule()">Sende Raumbelegung</button><p>
	</div>
</div>
<button ng-click="reloadDashboards()">Dashboards neu laden</button>