html, body, .view-container, .view-frame, .container-fluid, .container {
	height: 100%;
}

body {
  padding-top: 50px;
}

h1 {
	font-size: 36pt;
	margin-bottom: 50px;
}

.row {
}

.information-root {
	height: 100%;
	border-bottom: 1px solid black;
}

.information {
	height: 100%;
	overflow: hidden;
}

.info {
	font-size: 24pt;
	margin-top: 5px;
	border-top: 1px solid black;
	padding-top: 5px;
}

.page-indicator {
	text-align: right;
	margin-top: 5px;
	border-top: 1px solid black;
}

.roomSchedule {
	height: 100%;
	overflow: hidden;
}

.room {
	font-size: 24pt;
	border-top: 1px solid black;
	margin-top: 20px;
	margin-bottom: 20px;
}

.room h2 {
	font-weight: bold;
	font-size: 24pt;
	margin-bottom: 10px;
}

.clock {
	padding: 50px;
}

.map {
	height: 100%;
}