* {
	font-size: 0.8vw;
}

html, body, .view-container, .view-frame, .container-fluid, .container {
	height: 100%;
}

body {
	padding-top: 50px;
}

h1 {
	font-size: 2.2vw;
	margin-bottom: 1.0vw;
}

.information-root {
	height: 100%;
	border-bottom: 1px solid black;
}

.information {
	height: 100%;
	overflow: hidden;
}

.info {
	margin-top: 0.5vw;
	border-top: 1px solid black;
	padding-top: 0.5vw;
}

.info span, div {
	font-size: 1.8vw;
}

.page-indicator {
	text-align: right;
	margin-top: 0.5vw;
	border-top: 1px solid black;
}

.roomSchedule {
	height: 100%;
	overflow: hidden;
}

.room {
	border-top: 1px solid black;
	margin-top: 1.0vw;
	margin-bottom: 1.0vw;
}

.room h2 {
	font-weight: bold;
	font-size: 1.4vw;
	margin-bottom: 1.0vw;
}

.room span, div {
	font-size: 1.8vw;
}

.clock {
	padding: 50px;
}

.alarm-telegram {
	height: 100%;
	padding-top: 1.8vw;
}

.alarm-telegram .panel-body {
	font-size: 1.8vw;
}

.map {
	height: 100%;
}